
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background:white;
  min-height: 100vh;
}
 h1 {
 color: rgb(64, 159, 190);
 }

.webcam-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  background-color: #ffffff;
  padding: 30px 40px;
  border-radius: 16px;
  width: 500px;
  height: 480px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}


.webcam-view {
  border: 1px solid black;
  border-radius: 1px;
  margin-bottom: 20px;
 
}


.analyze-btn {
  padding: 10px 24px;
  background:  rgb(105, 105, 180);
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 2px;
 
  transition: all 0.3s ease;
}

.analyze-btn:hover {
  background:  #00b4db;

}



.feedback-list {
  list-style: none;
  padding: 0;
  margin: 0;
  color: #e63946;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  margin-top: 10px;
}


input[type="file"] {
  margin-top: 12px;
  padding: 10px 16px;
  border: 2px solid #00b4db;
  border-radius: 10px;
  background-color: #f1f9ff;
  color: #007bff;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="file"]:hover {
  background-color: #e0f3ff;
  border-color: #0083b0;
  color: #0056b3;
}
